<h1>Word Count</h1>
<form action="/results">
  <div class="form-group">
    <label>Word to Search For:</label>
    <input id="search_word" name="search_word" class="form-control" type="text">
    <label>Word to Search For:</label>
    <input id="search_in" name="search_in" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
